/*variables*/
:root {
  --background-color: #fff8e7;
  --text-color: #fff;
  --highlight-color: #b89815;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-image: url(/images/texture.jpg);
  background-size: cover;
}
.menu-visibility {
  display: block;
}
h1,
h2 {
  font-family: "Martel", serif;
}
li {
  list-style: none;
  padding: 0.3rem;
  margin: 0.5rem;
}
a {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 5rem 10% 2rem 10%;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 30px;
  display: none;
}
.navbar-icons {
  position: absolute;
  top: 20px;
  right: 10%;
}
.navbar-icons img,
.menu,
.to-top-icon img {
  width: 1.5rem;
}
nav {
  padding-bottom: 2rem;
}
nav ul {
  display: flex;
}
nav a {
  color: var(--highlight-color);
}

/* Main */
main {
  padding: 2rem 10%;
}
.collection-link {
  color: var(--text-color);
  background-color: var(--highlight-color);
  display: block;
  margin-bottom: 3rem;
  box-shadow: 0px 2px 6px var(--highlight-color),
    0px -2px 6px var(--highlight-color);
  padding: 1rem 2rem;
}
.double-container {
  display: flex;
  justify-content: space-between;
}
.double-images {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.img {
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  cursor: pointer;
  box-shadow: 1px 1px 4px var(--highlight-color),
    -1px -1px 4px var(--highlight-color);
}
.horizontal-img {
  width: 100%;
}
.christmas-img {
  background-image: url("/images/christmas.jpg");
}
.baby-img {
  background-image: url("/images/baby.jpg");
}
.various-img {
  background-image: url("/images/various.jpg");
}
.chair-img {
  background-image: url("/images/chair.jpg");
}
.img a {
  color: black;
  text-shadow: 0px 1px rgb(116, 116, 116);
  font-size: 0.8rem;
  filter: sepia(1);
}
.img a:hover {
  color: var(--text-color);
}
.to-top-icon {
  float: right;
  margin-right: 0.1rem;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 10% 3rem 10%;
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-links li {
  margin: 0.3rem;
}
.footer-links a {
  color: var(--highlight-color);
}

.footer-links i {
  font-size: 1.5rem;
}

span {
  color: gray;
  text-align: center;
  display: block;
  margin: 0.5rem 0;
}

/* Products page */

.products-banner {
  background-image: url("/images/banner.jpg");
  margin-bottom: 3rem;
  filter: sepia(0.3);
}
.bedroom-img {
  background-image: url("/images/bedroom.jpg");
  filter: sepia(0.3);
}
.lounge-img {
  background-image: url("/images/lounge.jpg");
  filter: sepia(0.3);
}
.kitchen-img {
  background-image: url("/images/kitchen.jpg");
  filter: sepia(0.3);
}
.category {
  width: 30%;
}
.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  color: var(--highlight-color);
  text-align: center;
  margin: 3rem 0;
}
.current {
  text-decoration: underline;
}

/* media q */

@media (max-width: 1280px) {
  .double-container {
    flex-direction: column;
  }
  .double-images {
    width: 100%;
  }
  .products-banner {
    background-image: url("/images/banner-small.jpg");
  }
  .categories {
    flex-direction: column;
  }
  .category {
    width: 100%;
  }
  .categories .img {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--text-color);
  }
}
@media (max-width: 768px) {
  header {
    justify-content: center;
  }
  main {
    padding: 0.5rem;
  }
  .img,
  .collection-link {
    box-shadow: none;
    text-align: center;
  }
  .menu {
    display: block;
    z-index: 10;
  }
  nav {
    display: none;
  }
  .navbar-icons {
    right: 20px;
  }
  .navbar-icons a {
    padding: 0;
  }

  .navbar-icons a:first-child {
    padding-right: 1rem;
  }

  header ul {
    /* menu style small screen */

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--highlight-color);
    height: 350px;
    padding: 3rem 0;
  }
  header li a {
    color: var(--text-color);
    text-transform: uppercase;
  }
  .logo {
    margin-top: 92px;
    margin-bottom: 5rem;
  }
}
